# Quiz 2: Introducción a la Ciencia de Datos práctica

&emsp; **Asignatura:** Big Data. <br>
&emsp; **Profesor:** Juan Martín Londoño Zuluaga. <br>
&emsp; **Período:** 2023-II.

&emsp; **Estdiante:** <indique su nombre aquí>

# 1. Importe de los datos

Importe los datos del archivo `spotify-2023.csv`:

In [2]:
import pandas as pd

labour = pd.read_csv('datain/Employee.csv')
labour.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [8]:
labour.shape

(4653, 9)

# 2. Calidad de la base de datos

## 2.1. Valores perdidos

Encuentre el número y porcentaje respecto al total de los valores perdidos que tiene la base de datos:
* ¿Qué nivel de pérdida de datos se tiene?
* ¿Es significativa la pérdida de datos?
* Si sí, ¿qué estrategia propone para afrontarlo?

In [3]:
# Numero de missings
labour.isnull().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [5]:
# Numero de missings
labour.isnull().sum()/labour.shape[0]

Education                    0.0
JoiningYear                  0.0
City                         0.0
PaymentTier                  0.0
Age                          0.0
Gender                       0.0
EverBenched                  0.0
ExperienceInCurrentDomain    0.0
LeaveOrNot                   0.0
dtype: float64

## 2.2. Valores únicos

Encuentre el número de valores únicos por columna:

In [7]:
labour.nunique()

Education                     3
JoiningYear                   7
City                          3
PaymentTier                   3
Age                          20
Gender                        2
EverBenched                   2
ExperienceInCurrentDomain     8
LeaveOrNot                    2
dtype: int64

In [11]:
labour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [10]:
for col in labour.columns:
    print("Columna: " + col + "\n")
    print(labour[col].unique())
    print("\n")

Columna: Education

['Bachelors' 'Masters' 'PHD']


Columna: JoiningYear

[2017 2013 2014 2016 2015 2012 2018]


Columna: City

['Bangalore' 'Pune' 'New Delhi']


Columna: PaymentTier

[3 1 2]


Columna: Age

[34 28 38 27 24 22 23 37 32 39 29 30 36 31 25 26 40 35 33 41]


Columna: Gender

['Male' 'Female']


Columna: EverBenched

['No' 'Yes']


Columna: ExperienceInCurrentDomain

[0 3 2 5 1 4 7 6]


Columna: LeaveOrNot

[0 1]