# Parcial 2: Introducción a la Ciencia de Datos

&emsp; **Fundación Universitaria Los Libertadores**. <br>
&emsp; **Asignatura:** Big Data. <br>
&emsp; **Período:** 2023-I. <br>
&emsp; **Profesor:** Juan Martín Londoño Zuluaga. <br>
&emsp; **Estudiante:**

# Big Data con sabor a Café

Los chismes vuelan: todo mundo ha oído que los estudiantes de Big Data de la FULL son los mejores analistas de datos. Por ello, le han contratado para realizar análisis de datos del alimento preferido por los y las analistas de datos: el Café. Para ello, le han entregado una base de datos sobre diferentes características de café de diferentes procedencias, la cual se encuentra en la siguiente [página web](https://www.kaggle.com/datasets/fatihb/coffee-quality-data-cqi).

Quienes le contratan le piden lo siguiente:

# 1. Importe de los datos (10 puntos)

En primer lugar, le envían la base de datos `df_arabica_clean.csv` que se encuentra en la carpeta. Cárguela y muestre las primeras 3 filas.

In [6]:
import pandas as pd

coffee = pd.read_csv('datain/df_arabica_clean.csv')
coffee.head(3)

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,0,0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
1,1,1,Taiwan,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,NaN,Taiwan Coffee Laboratory,1200,Chiayi,...,87.58,10.5,0,0,blue-green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
2,2,2,Laos,OKLAO coffee farms,"The 2022 Pacific Rim Coffee Summit,LA01",oklao coffee processing plant,NaN,Taiwan Coffee Laboratory,1300,Laos Borofen Plateau,...,87.42,10.4,0,0,yellowish,2,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"

# 2. Calidad de los datos

## 2.1. Número de valores perdidos

Analice primero la cantidad de valores perdidos por columna **en términos de porcentaje** del total de la base de datos:

In [9]:
coffee.isnull().sum()/len(coffee)*100

Unnamed: 0                0.000000
ID                        0.000000
Country of Origin         0.000000
Farm Name                 0.966184
Lot Number                0.483092
Mill                      1.449275
ICO Number               63.768116
Company                   0.000000
Altitude                  0.483092
Region                    0.966184
Producer                  0.483092
Number of Bags            0.000000
Bag Weight                0.000000
In-Country Partner        0.000000
Harvest Year              0.000000
Grading Date              0.000000
Owner                     0.000000
Variety                   2.898551
Status                    0.000000
Processing Method         2.415459
Aroma                     0.000000
Flavor                    0.000000
Aftertaste                0.000000
Acidity                   0.000000
Body                      0.000000
Balance                   0.000000
Uniformity                0.000000
Clean Cup                 0.000000
Sweetness                 0.000000
Overall                   0.000000
Defects                   0.000000
Total Cup Points          0.000000
Moisture Percentage       0.000000
Category One Defects      0.000000
Quakers                   0.000000
Color                     0.000000
Category Two Defects      0.000000
Expiration                0.000000
Certification Body        0.000000
Certification Address     0.000000
Certification Contact     0.000000
dtype: float64

A partir de lo anterior,

* ¿Existe una pérdida considerable de datos?
* ¿Qué estrategia aplicaría para manejar los valores perdidos de la base de datos? Aplíquela.

## 2.2. Valores únicos

Ahora quieren saber cuántos valores únicos hay por variable:

* Muestre, por favor, el número de valores únicos que hay por variable.

In [10]:
coffee.nunique()

Unnamed: 0               207
ID                       207
Country of Origin         22
Farm Name                172
Lot Number               187
Mill                     162
ICO Number                67
Company                   72
Altitude                  97
Region                   120
Producer                 172
Number of Bags            55
Bag Weight                39
In-Country Partner        21
Harvest Year               7
Grading Date              75
Owner                     80
Variety                   48
Status                     1
Processing Method         10
Aroma                     19
Flavor                    19
Aftertaste                20
Acidity                   19
Body                      17
Balance                   18
Uniformity                 3
Clean Cup                  1
Sweetness                  1
Overall                   21
Defects                    1
Total Cup Points          81
Moisture Percentage       46
Category One Defects       6
Quakers                   11
Color                     12
Category Two Defects      14
Expiration                75
Certification Body        21
Certification Address     21
Certification Contact     21
dtype: int64

De repente, en una de sus visitas de consultoría, una persona misteriosa le deja una nota que dice:

<center> <i>"No todo es lo que parece. Revise usted los valores únicos de la variable `Color`. Att: 'el profe'."</i> </center>

Sin saber quién es el profe, usted encuentra que los valores únicos mienten. Revise cuáles son los valores únicos de la variable `Color`.

A partir de lo anterior le preguntan:

* ¿Qué observa de dicha columna?

# 3. Análisis Univariado

In [19]:
coffee.columns

Index(['Unnamed: 0', 'ID', 'Country of Origin', 'Farm Name', 'Lot Number',
       'Mill', 'ICO Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number of Bags', 'Bag Weight', 'In-Country Partner', 'Harvest Year',
       'Grading Date', 'Owner', 'Variety', 'Status', 'Processing Method',
       'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Overall', 'Defects',
       'Total Cup Points', 'Moisture Percentage', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact'],
      dtype='object')

In [30]:
coffee.head(1)

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,0,0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901

In [29]:
coffee[['ID', 'Country of Origin']].groupby('Country of Origin').count()\
    .rename(columns = {'ID': 'n'})\
    .sort_values('n', ascending = False)

                               n
Country of Origin
Taiwan                        61
Guatemala                     21
Colombia                      19
Honduras                      13
Thailand                      12
Ethiopia                      11
Brazil                        10
Costa Rica                     8
Nicaragua                      7
El Salvador                    7
Tanzania, United Republic Of   6
United States (Hawaii)         5
Peru                           4
Mexico                         4
Vietnam                        4
Laos                           3
Uganda                         3
Indonesia                      3
Panama                         2
Kenya                          2
Myanmar                        1
Madagascar                     1

# 4. Análisis multivariado

In [31]:
coffee.columns

Index(['Unnamed: 0', 'ID', 'Country of Origin', 'Farm Name', 'Lot Number',
       'Mill', 'ICO Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number of Bags', 'Bag Weight', 'In-Country Partner', 'Harvest Year',
       'Grading Date', 'Owner', 'Variety', 'Status', 'Processing Method',
       'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Overall', 'Defects',
       'Total Cup Points', 'Moisture Percentage', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact'],
      dtype='object')

     Number of Bags Bag Weight
0                 1      35 kg
1                 1      80 kg
2                19      25 kg
3                 1      22 kg
4                 2      24 kg
..              ...        ...
202            2240      60 kg
203             300      30 kg
204             343      60 kg
205               1       2 kg
206             600      60 kg

[207 rows x 2 columns]

In [48]:
coffee['peso_bolsa'] = coffee['Bag Weight'].str.split(expand = True)[0].astype(float)

In [49]:
coffee['peso_flete'] = coffee['peso_bolsa'] * coffee['Number of Bags']
coffee[['peso_bolsa', 'Number of Bags', 'peso_flete']]

     peso_bolsa  Number of Bags  peso_flete
0          35.0               1        35.0
1          80.0               1        80.0
2          25.0              19       475.0
3          22.0               1        22.0
4          24.0               2        48.0
..          ...             ...         ...
202        60.0            2240    134400.0
203        30.0             300      9000.0
204        60.0             343     20580.0
205         2.0               1         2.0
206        60.0             600     36000.0

[207 rows x 3 columns]